<!-- Extends to base template -->
{% extends "_base.html" %}
{% block content %}
    <div class="content-box main-content text-center">
        <h1 class="main-title">Whoops! </h1>
        <p class="p-style">You didn't break the internet, but we can't find what are you looking for. </p>
        <p class="p-style">Please select one of the two operations you can do in this webapp:</p>
        <a href="/encode" class="link-primary" style="float: left;">Encode</a>
        <a href="/decode" class="link-primary" style="float: right;">Decode</a>
    </div>
{% endblock %}